.body-content {
    text-align: justify;
}

img#logo {
    position: absolute;
    width: 25%;
    right: 0;
    top: 80px;
}
.entry-content a[href] {
  text-decoration: underline;
}
@media (max-width: 1024px) {
    img#logo {
        display: none;
    }
}

@media (min-width: 1024px) {
    .body-content {
        width: 40em;
    }
}
