.body-content {
    /* Too lazy to fix bootstrap, so !important yay */
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica" !important;
    font-size: 16pt;
}

.body-content p, .body-content li, .body-content blockquote {
    font-weight: normal;
    line-height: 180%;
}

.body-content p, .body-content blockquote {
    text-align: justify;
    margin-bottom: 1.5em;
}

.body-content blockquote {
    border-left: 0.3em solid #383234;
    background-color: #e7e4e5;
    padding: 1em 1em 0.1em 1em;
}

h1 {
    font-size: 220%;
}

h1, h2, h3, h4, h5 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

code {
    color: #383234 !important;
}

pre {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 2em !important;
}

a {
    color: #383234;
}

a:hover {
    color: #534a4d;
}

.entry-content a[href] {
    text-decoration: underline;
}

s {
    position: relative;
    text-decoration-line: none;
}

s::after {
    border-bottom: 0.2em solid red;
    content: "";
    left: 0;
    margin-top: calc(0.2em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
}


@media (max-width: 1024px) {
    img#logo {
        display: none !important;
    }
}

@media (min-width: 1024px) {
    /* make space for my giant head */

    img#logo {
        position: absolute;
        width: 15%;
        right: 0;
        top: 80px;
    }

    .body-content {
        margin-top: 80px;
    }

    .entry-title:first-child {
        width: 85%;
    }
}
